<div id="CartTotals">
  <blockquote>
    <p class="Left">Total Items in Cart = <strong>[ItmCnt]</strong></p>
    <p class="Right"><span class="LblSpan">Subtotal:</span> <strong>[Total]</strong><br />
      <span class="LblSpan">Shipping &amp; Handling:</span> <strong>[Ship]</strong><br />
      <span class="LblSpan">Tax:</span> <strong>[Tax]</strong><br />
      <span class="LblSpan">Total:</span> <strong>[Grand]</strong></p>
    [ReviewNot]{
    <p><strong>Note:</strong> You will be able to choose your shipping method during the checkout process</p>
    } </blockquote>
</div>
